<div class="container-fluid mt-3">
  <h5>Mi carrito</h5>
  <hr>
  <div class="row">
    <div class="col-sm-9">
      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-striped text-center">
              <thead>
                <th>Producto</th>
                <th>Imagen</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Importe</th>
                <th>Eliminar</th>
              </thead>
              <tbody>
                @for (item of listCarrito; track item.producto) {
                  <tr>
                    <td class="align-middle">{{ item.producto.title }}</td>
                    <td class="align-middle"><img [src]="item.producto.image" alt="{{item.producto.title}}" class="img-thumbnail" style="width: 80px;"></td>
                    <td class="align-middle">{{ item.producto.price | number: '1.2-2'}}</td>
                    <td class="align-middle">
                      <input type="number" class="form-control"
                      [(ngModel)]="item.cantidad" min="1"
                      (keydown)="onKeyDown($event)">
                    </td>
                    <td class="align-middle">{{ item.producto.price * item.cantidad | number: '1.2-2' }}</td>
                    <td class="align-middle">
                      <button (click)="eliminarItem($index)" type="button" class="btn btn-danger btn-sm">
                        <i class="bi bi-trash"></i>
                      </button>
                    </td>
                  </tr>
                }
                @if(listCarrito.length == 0) {
                  <tr>
                    <td colspan="6" class="text-center">No hay productos en el carrito</td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <h3>Resumen de la Compra</h3>
            <hr>
            <div class="d-flex justify-content-between mb-4">
              <p class="mb-2">Total</p>
              <p class="mb-2">${{carritoService.total() | number: '1.2-2'}} </p>
            </div>
            <button [disabled]="listCarrito.length == 0" 
            type="button" class="btn btn-dark btn-block btn-lg">
              <div class="d-flex justify-content-between">
                <span>Comprar</span>
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>