<div class="container mt-5">
    <div *ngIf="productos.length === 1; else productList">
        <!-- Vista de detalle del producto -->
        <div class="row">
            <div class="col-md-6">
                <img [src]="productos[0].image" [alt]="productos[0].title" class="img-fluid">
            </div>
            <div class="col-md-6">
                <h2>{{ productos[0].title }}</h2>
                <p class="text-muted">{{ productos[0].category }}</p>
                <p class="lead">{{ productos[0].price | currency }}</p>
                <p>{{ productos[0].description }}</p>
                <button type="button" class="btn btn-warning" (click)="agregarProducto(productos[0])">
                    <i class="bi bi-cart"></i> Add to Cart
                </button>
            </div>
        </div>
    </div>
    
    <ng-template #productList>
        <!-- Vista de lista de productos -->
        <h3 class="text-center">Our Products</h3>
        <hr>
        <div class="row">
            <div class="col-sm-3 mt-1" *ngFor="let producto of productos; trackBy: trackById">
                <div class="card">
                    <div class="card-body">
                        <span class="badge bg-secondary">{{ producto.category }}</span>
                        <img src="{{ producto.image }}" alt="{{ producto.title }}">
                        <p class="fw-bold">{{ producto.title }}</p>
                        <p>{{ producto.description }}</p>
                        <p class="fw-bold">Price: {{ producto.price | currency }}</p>
                        <button type="button" class="btn btn-warning" (click)="agregarProducto(producto)">
                            <i class="bi bi-cart"></i> Add to cart
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</div>

<app-footer></app-footer>
